aiofiles==23.2.1
aiosqlite==0.20.0
annotated-types==0.7.0
argcomplete==3.1.2.dev0+ga9059f3.d20240510
better-proxy==1.2.0
certifi==2024.6.2
charset-normalizer==3.3.2
colorama==0.4.6
distro==1.9.0
idna==3.7
loguru==0.7.2
opentele @ git+https://github.com/serveroid/opentele@db002b52e4e01fc826b19690cab8ba1f1320f040
packaging==24.0
pipx==1.6.0
platformdirs==4.2.0
pyaes==1.6.1
pyasn1==0.6.0
pydantic==2.7.4
pydantic_core==2.18.4
PyQt5==5.15.10
PyQt5-Qt5==5.15.2
PyQt5-sip==12.13.0
Pyrogram==2.0.106
PySocks==1.7.1
requests==2.32.3
rsa==4.9
Telethon==1.36.0
TGConvertor==0.0.8
TgCrypto==1.2.5
tls-client==1.0.1
typing_extensions==4.12.2
urllib3==2.2.1
userpath==1.9.2
win32-setctime==1.1.0